<h3><%=@user.login%></h3>
<div id="member_groups">
  <h4>List of groups with membership</h4>
  <ul class="groups">
  <% @user.groups.each do |group| %>
    <li class="group"><%=link_to group.name, group_path(group.id)%></li>
  <% end %>
  </ul>
</div>
