%html
  %head
    %title Artha Intranet - Admin
    = stylesheet_link_tag 'watchman_screen.css', :media => 'screen, projection'
  %body
    #container
      #header
        %h1 Artha Intranet - Admin
      #nav
        %ul
          %li= link_to 'Users', users_path
          %li= link_to 'Groups', groups_path
      #content= @content_for_layout
